.stat-spinner {
    color: var(--col-black);
    padding-block: 2rem 4rem;
    h2 {
        padding-bottom: 1.5rem;
        font-weight: var(--fw-normal);
        font-size: 6rem;
        line-height: var(--lh-tight);
    }
	&__item {
        @media(min-width:992px) {
            display: grid;
            grid-template-rows: 3.5rem auto auto;
        }
        justify-items: center;
        gap: 0.5rem;
        // border-block-start: 3px solid white;
        @media (min-width:992px) {
            // border-block-start: none;
            &:not(:last-child) {
                border-inline-end: 3px solid var(--col-black);
            }
        }
	}

	&__stat {
        font-size: var(--fs-600);
        @media (min-width:992px) {
            font-size: var(--fs-700);
        }
        @media (min-width:1200px) {
            font-size: var(--fs-800);
        }
        text-align: center;
        font-weight: var(--fw-medium);
        line-height: 1;
        display: flex;
        justify-content: center;
	}

    // &__value.numeric-value {
    //     margin-bottom: -0.8em;
    // }


	&__label {
        text-align: center;
        font-weight: var(--fw-medium);
        font-size: var(--fs-400);
	}
}