.large-testimonial {
    background-color: var(--col-dark);
    color: var(--col-white);
    border-bottom: 10px solid var(--col-mint); ;
    &__quote {
        text-align: center;

        font-size: var(--fs-800);
        line-height: var(--lh-snug);
        padding-inline: 2rem;
        @media (min-width:768px) {
            font-size: var(--fs-800);
            line-height: var(--lh-snug);
            padding-inline: 4rem;
        }
        margin-bottom: 2rem;
        position: relative;
        padding-block-start: 3rem;
        max-width:40ch;
        margin-inline: auto;

        &::before {
            content: "";
            background-image: url("data:image/svg+xml,%3Csvg width='110' height='99' viewBox='0 0 110 99' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M51 24.4404L49.5693 24.5068C46.2692 24.6589 42.974 25.9496 39.667 28.5039C36.3481 31.0674 33.564 34.3627 31.3223 38.416C29.4927 41.9913 28.4785 45.8957 28.2861 50.1475H51V97.5H1.5V56.9697C1.5 45.6339 3.70129 35.9886 8.18945 28.1074L8.61133 27.3643C13.0063 19.7461 18.7127 13.876 25.7383 9.80371C33.105 5.46175 41.0006 3.0247 49.4072 2.50293L51 2.4043V24.4404ZM108.5 24.4404L107.069 24.5068C103.769 24.6589 100.474 25.9496 97.167 28.5039C93.8516 31.0647 91.0696 34.3558 88.8291 38.4033C86.9954 41.9821 85.9787 45.8906 85.7861 50.1475H108.5V97.5H59V56.9697C59 45.6339 61.2013 35.9886 65.6895 28.1074L66.1113 27.3643C70.5063 19.746 76.2127 13.876 83.2383 9.80371C90.605 5.46176 98.5006 3.0247 106.907 2.50293L108.5 2.4043V24.4404Z' stroke='%2301D0A5' stroke-width='3'/%3E%3C/svg%3E%0A");            position: absolute;
            left: 0;
            top: 0;
            background-size: contain;
            background-repeat: no-repeat;
            width: 40px;
            height: 45px;
            transform: translate(-10px, 0px);
            @media (min-width:768px) {
                width: 60px;
                height: 55px;
                transform: translate(-20px, 0px);
            }
        }
        &::after {
            content: "";
            background-image: url("data:image/svg+xml,%3Csvg width='110' height='99' viewBox='0 0 110 99' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M59 74.5596L60.4307 74.4932C63.7308 74.3411 67.026 73.0504 70.333 70.4961C73.6519 67.9326 76.436 64.6373 78.6777 60.584C80.5073 57.0087 81.5216 53.1043 81.7139 48.8525L59 48.8525L59 1.5L108.5 1.5L108.5 42.0303C108.5 53.3661 106.299 63.0114 101.811 70.8926L101.389 71.6357C96.9937 79.2539 91.2873 85.124 84.2617 89.1963C76.895 93.5382 68.9994 95.9753 60.5928 96.4971L59 96.5957L59 74.5596ZM1.5 74.5596L2.93067 74.4932C6.23084 74.3411 9.52603 73.0504 12.833 70.4961C16.1484 67.9353 18.9304 64.6442 21.1709 60.5967C23.0046 57.0179 24.0213 53.1094 24.2139 48.8525L1.5 48.8525L1.50001 1.49999L51 1.5L51 42.0303C51 53.3661 48.7987 63.0114 44.3105 70.8926L43.8887 71.6357C39.4937 79.2539 33.7873 85.124 26.7617 89.1963C19.395 93.5382 11.4994 95.9753 3.09277 96.4971L1.5 96.5957L1.5 74.5596Z' stroke='%2301D0A5' stroke-width='3'/%3E%3C/svg%3E%0A");
            position: absolute;
            right: -10px;
            bottom: 0;
            background-size: contain;
            background-repeat: no-repeat;
            width: 40px;
            height: 45px;
            @media (min-width:768px ) {
                width: 60px;
                height: 55px;
                transform: translate(10px, 30px);
            }
        }
    }
    &__meta {
        text-align: center;
        font-size: var(--fs-500);
        line-height: var(--lh-tight);
        .large-testimonial__name {
            font-weight: var(--fw-medium);
            color: var(--col-white);
        }
        .large-testimonial__company {
            font-weight: var(--fw-medium);
            color: var(--col-white);
        }
    }
}