.our-work {
    background-color: var(--col-dark);
    color: var(--col-white);
    isolation: isolate;
    transform: none !important;
    contain: layout style paint;
    
    position: relative;
    z-index: 999;

    &::before,
    &::after {
      display: none !important;
    }
    
    // * {
    //   background-color: transparent !important;
    // }
}

.work-wrapper {
  position: relative;
  transform: none !important;
  padding-bottom: 3rem;
}

.work-heading {
  position: relative;
  padding: 2rem 0;
  font-size: 6rem;
  z-index: 10;
  pointer-events: none;
  background-color: transparent;
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

h2.work-heading-text {
  flex: 0 0 auto;
  width: 6ch;
  font-size: inherit;
  margin: 0;
}

.work-heading-text .word-mask {
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
}

.work-heading-text .word-inner {
  display: inline-block;
  white-space: nowrap;
}

.work-heading-arrow {
  flex: 0 0 auto;
  font-size: 6rem;
  line-height: 1;
}

// Remove the pseudo-element that creates the white block
.our-work .ratio::before {
  content: none;
  display: none;
}

.our-work .ratio {
  aspect-ratio: 16 / 9;
  overflow: hidden;
  background: transparent;
  will-change: auto;
  transform: none;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 2rem;

  iframe {
    overflow: hidden;
    box-shadow: none;
    outline: none;
    border: none;
    background: transparent;
    will-change: auto;
    transform: none;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
  }
}

// Ensure container doesn't create stacking issues
.our-work .container {
  position: static;
  z-index: auto;
  transform: none !important;
}


.our-work-card {
  background-color: var(--col-black);
  .our-work-card__header-arrow {
    transition: transform 0.3s ease-in-out;
  }
  &:hover {
    .our-work-card__header-arrow {
      transform: rotate(45deg);
    }
    .our-work-card__body-back {
      opacity: 1;
    }
  }
  border: 1px solid var(--col-white);
  border-radius: 1rem;
  &__header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }
  &__header-title {
   display: flex;
   column-gap: 0.5rem;
  }
  &__body {
    aspect-ratio: 16 / 9;
    width: 100%;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
  }
  &__body-front {
    background-color: steelblue;
    aspect-ratio: 16 / 9;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &__body-back {
    aspect-ratio: 16 / 9;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease-in-out;
    background-color: hsl( var(--col-black-hsl) / 0.9 );
    opacity: 0;
    display: grid;
    place-content: center;
    span {
      max-width: 40ch;
    }
  }

}

.fancy-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  contain: layout;
  span {
    border: 2px solid var(--col-white);
    color: var(--col-white);
  }
  &__label {
    height: 2.5rem;
    display: flex;
    align-items: center;
    border-radius: 100vw;
    padding-inline: 1rem;
    font-size: var(--fs-200);
    font-weight: var(--fw-400);
  }
  &__icon {
    display: flex;
    align-items: center;
    height: 2.5rem;
    border-radius: 100%;
    overflow: hidden;
    transition: scale 0.3s ease-in-out, width 0.3s ease-in-out;
    width: 2.5rem;
    flex-shrink: 0;
  }
  &__icon--left {
    scale: 0;
    width: 0;
  }
  &__icon--right {
    scale: 1;
  }

  &:hover {
    text-decoration: none;
    .fancy-button__icon--left {
      scale: 1;
      width: 2.5rem;
    }
    .fancy-button__icon--right {
      scale: 0;
      width: 0;
    }
  }
}