.case-study-single {
    .arrow-heading {
        text-transform: initial;
        h2 {
            font-size: 4rem !important;
        }
        span.text-end {
            text-align: left !important
        }
    }
}