.footer {
  background-color: var(--col-black);
  color: var(--col-white);


  .cb {
    content: url(../img/cb.png);
    transition: opacity .3s ease;
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
  }

  &__title {
    width: 570px;
    font-size: 100px;
    line-height: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: -3rem;
    margin-inline-start: 1ch;
    span:nth-child(2) {
      margin-left: auto;
    }
  }

  &__contact {
    font-size: 50px;
    line-height: var(--lh-normal);

    a {
      text-decoration: none;
      color: var(--col-mint);
      transition: color var(--transition);

      &:hover {
        color: var(--col-white);
      }
    }
  }

  .colophon {
    border-block-start: 1px solid hsl(0 0% 100% / 0.2);
    margin-block-start: 2rem;
    padding-block-start: 1rem;
    font-size: var(--fs-100);
    font-weight: var(--fw-300);
    color: var(--col-white);

    >* {
      opacity: 0.6;
    }

    a {
      color: var(--col-white);
      text-decoration: none;
      transition: color var(--transition);

      &:hover {
        color: var(--col-grey);
      }
    }
  }
}