@media (width > 641px) {
    .gfmc-container {
        column-gap: 2rem !important;
    }
}

.gform_footer {
    justify-content: flex-end;
}

.gform_button {
    @extend .btn;
    @extend .btn-primary;
}

.gform_wrapper {
    input[type="text"],
    input[type="tel"],
    input[type="email"],
    textarea {
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-bottom: 1px solid var(--col-dark) !important;
        border-radius: 0 !important;
        box-shadow: none !important;
        background-color: transparent !important; 
    }
}